
.grid
{
    font-family: arial;
    font-size: 12px;
    border: solid 1px #7f7f7f;
    color: #333333;
    width:70%;
}
.grid th
{
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    color:  aliceblue;
    padding: 4px 5px 4px 10px;
    vertical-align: bottom;
    text-align: center;
    background-color: Highlight;
}
.grid td
{
    color: #333333;
    padding: 4px 1px 4px 1px;
    border-bottom: solid 1px #BBD9EE;
    padding: 4px 5px 4px 10px;
}
.gridRow
{
    background-color: aquamarine;
}

.gridAltRow
{
     background-color: lavender;
}

.gridEditRow
{
    background-color: #0DC6DE;
}
.gridFooterRow
{
    background-color: #E8ECED;
}
.grid tr.gridRow:hover, .grid tr.gridAltRow:hover
{
    font-family: Arial;
    font-size: 12px;
    border: solid 1px #7f7f7f;
    border-collapse: collapse;
    background-color: lightgray;
    /*background-color: red;*/
}

.hCursor
{
    cursor: pointer;
    cursor: hand;
}
