<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="Server=HEBA-PC; Database=KnowledgeMap; Trusted_Connection=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="login"/>
    </authentication>
    <customErrors mode="On" defaultRedirect="~/Error.aspx" />
  </system.web>

    
  <location path="StdQuestionsForm.aspx">
    <system.web>
    <authorization>
      <deny users="?"/> 
    </authorization>
    </system.web>
  </location>

  <location path="testResult.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="addCourse.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="addModuleTest.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="addNode.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="addNodesPrereq.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="addTopic.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="CreateMap.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="saveMap.aspx">
    <system.web>
      <authorization>
        <allow roles="Instructor"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
</configuration>